<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neb.springboot.mapper.sys.TsOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neb.springboot.model.sys.TsOrg">
        <id column="id" property="id" />
        <result column="org_code" property="orgCode" />
        <result column="org_name" property="orgName" />
        <result column="short_name" property="shortName" />
        <result column="logo_path" property="logoPath" />
        <result column="sort_num" property="sortNum" />
        <result column="org_level" property="orgLevel" />
        <result column="parent_id" property="parentId" />
        <result column="remark" property="remark" />
        <result column="data_state" property="dataState" />
        <result column="create_emp_id" property="createEmpId" />
        <result column="create_emp_name" property="createEmpName" />
        <result column="create_time" property="createTime" />
        <result column="modify_emp_id" property="modifyEmpId" />
        <result column="modify_emp_name" property="modifyEmpName" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_code, org_name, short_name, logo_path, sort_num, org_level, parent_id, remark, data_state, create_emp_id, create_emp_name, create_time, modify_emp_id, modify_emp_name, modify_time
    </sql>

</mapper>
